# ingnore dirs
build/
data/
env/
materials/ItemInHandColor
materials/EndSky
materials/SunMoon
materials/RenderChunk
materials/Stars
materials/Actor

# ignore files
copy.sh
commit.sh
pull.sh

# eol
* text=lf
